# GitLab data volumes - large, not for version control
bootstrap/*.log
gitlab-config/
gitlab-logs/
gitlab-data/
project-exports/
project-repository-bundles/

# The backup tar itself - too large for git
*.tar
